.spot-details-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spot-details-2 {
  width: 60vw;
}

.air-cover {
  height: 2rem;
}

.spot-details-header {
  margin: 0 0 1rem 0;
}
