.spot-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-save > span{
  margin: 1rem;
}

.preview > img {
  object-fit: cover;
  margin: 2rem 0;
  width: 50rem;
  height: 35rem;
  border-radius: 10px;
}

.preview {
  display: flex;
  justify-content: center;
}

.my-buttons {
  margin-top: .5rem;
}

.my-buttons > button {
  margin: .5rem;
}

.review {
  margin: 1rem;
  inline-size: 50rem;
  overflow-wrap: break-word;
  hyphens: manual;
}

.review > div{
  font-weight: bold;
}

.add-review {
  display: flex;
  flex-direction: column;
}

.add-review > textarea {
  resize: vertical;
  min-height: 3rem;
}

.add-review > button {
  margin-top: .5rem;
}

.login-buttons > button{
  margin: .5rem .5rem;
}

.air-cover {
  height: 2rem;
}
