.edit-spot {
  display: flex;
  flex-direction: column;
}
.edit-spot > * {
  margin: 0.2rem;
  margin: 0.5rem;
}

.edit-spot-div {
  display: flex;
  justify-content: center;
}

.edit-spot > textarea {
  resize: vertical;
  min-height: 3rem;
}
