.spot-card {
display: inline-block;
}



/* .spot-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
} */

.spot-card-image {
  width: 250px;
  height: 250px;
  border-radius: 5%;
}

.spot-card > div {
  display: flex;
  justify-content: space-between;
}

.spot-card > div, h3 {
  margin: 0;
}
