.logo {
  height: 50px;
  width: auto;
}

.page-break {
  border: none;
  background: #eaeaea;
  height: 0.02rem;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profile-button-div {
  display: flex;
  margin-right: 2rem;
  align-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

#profile-button {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem;
  width: 77px;
  height: 42px;
  border-radius: 40px;
  background: none;
}

/* #profile-pic {
} */

/* align-items: center;
    background-color: #ffffff00;
    border: 1px solid #ddd;
    border-radius: 21px;
    cursor: pointer;
    display: inline-flex;
    height: 42px;
    padding: 5px 5px 5px 11px;
    vertical-align: middle;
    width: 77px; */

.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 1px;
  padding: 10px;
  border-radius: 5%;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
